footer {
  background-color: #00356d;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
  footer {
    font-size: 14px;
  }
}

/* Media query para tela de 1920px */
@media screen and (min-width: 1920px) {
footer {
  font-size: 18px; /* Ajusta o tamanho da fonte para monitores de 1920px */
  padding: 30px 0; /* Ajusta o padding */
}
}

/* Media query para tela de 1440px */
@media screen and (max-width: 1444px) {
footer {
  font-size: 16px; /* Ajusta o tamanho da fonte para monitores de 1444px */
  padding: 20px 0; /* Ajusta o padding */
  margin-top: 350px;
}
}
