* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para o fundo */
body.anamnese-page {
  background-image: url("../../assets/imgs/fundoForm.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

/* Estilo para o container do formulário */
.anamnese-form {
  max-width: 800px;
  margin: 10px auto;
  background: rgba(227, 233, 243, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título do formulário */
.anamnese-form h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
}

.anamnese-form h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #000000;
  font-weight: bold;
}

/* Estilo para o formulário */
.anamnese-form form {
  display: flex;
  flex-direction: column;
}

/* Estilo para a seção de informações do usuário */
.user-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.user-info label {
  flex: 1 1 45%;
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}

.user-info input, .user-info select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;

}


/* Estilo para a seção de perguntas */
.questions {
  margin-top: 20px;
}

.questions label {
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}

.questions textarea {
  width: 100%;
  padding: 30px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.anamnese-form .buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Estilo para o botão de envio */
.anamnese-form button, 
.anamnese-form .back-button {
  width: 100%;
  padding: 10px;
  background-color: #00356d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.anamnese-form .back-button {
  background-color: #080505;
}

.anamnese-form .back-button:hover {
  background-color: #4b4848;
  color: #ffffff;
}

/* Estilo de hover para o botão de envio */
.anamnese-form button:hover {
  background-color: #00509d;
}

/* Responsividade */
@media (max-width: 768px) {
  .user-info label {
    flex: 1 1 100%;
  }

  .anamnese-form {
    margin: 50px 20px;
    padding: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1444px) {
  .anamnese-form {
    max-width: 600px;
    margin: 50px auto;
  }
}

@media (min-width: 1445px) and (max-width: 1920px) {
  .anamnese-form {
    max-width: 1000px;
    margin: 50px auto;
  }
}