@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/imgs/Blue\ Minimalist\ Linktree\ Background.png') no-repeat center center fixed;
    background-size: cover;
  }
.cadastro-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #000000;
    font-family: "Fjalla One", sans-serif;
  }
  
  .cadastro-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .cadastro-container img {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .h1Cadastro {
    margin-bottom: 20px;
    color: #000000;
    font-family: "Fjalla One", sans-serif;
  }
  
  .cadastro-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  
  .BLogin {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .BLogin:hover {
    background-color: #0056b3;
  }
  